{#}{% extends 'CommonBundle:layout:base-layout.html.twig'  %}#}

<style>
    .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        cursor: pointer;
        float: left;
        display: none;
        min-width: 160px;
        _width: 160px;
        padding: 4px 0;
        margin: 2px 0 0 0;
        list-style: none;
        background-color: #ffffff;
        border-color: #ccc;
        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        *border-right-width: 2px;
        *border-bottom-width: 2px;
    }

    .ui-menu-item:hover {
        background-color: #ECF0F5;
    }

</style>


{{ form_start(form, {action: path('post_requirement')}) }}
<div hidden>{{ form_widget(form.event, { 'attr': {'hidden': 'true'} }) }}</div>

{{ form_rest(form) }}
{{ form_end(form) }}

<script>
    $("#requirement_item").autocomplete({
        minLength: 2,
        source:Routing.generate('get_items',{name: $("#requirement_item").val() })
        /*  function (request, response) {
         var item = $("#requirement_item").val();
         var objData = 'term=' + item;

         $.ajax({
         url: Routing.generate('autocomplete_item'),
         dataType: "json",
         data : objData,
         type: 'POST',
         success: function (data) {
         //response($.map(data, function (item) {
         //    return item;
         }));
         response(data);
         },
         error: function (jqXHR, textStatus, errorThrown) {
         console.log(textStatus, errorThrown);
         }
         });
         }*/
    });

</script>